# Masukan APP ID ambil di web my.telegram.org
API_KEY = "22355402"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "5d7858e035599aa080d65e14e5e34d4d"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOLQBuyv4slJfIgZJ_kr5xAatyPDwsJVNI-roEn87A7nO2tnppbUMC49db9STSjGT8ytNRhykAm6wQQ3B7jpCfyWIhcHcuZDGxYUMnxxJcp8SJ_FzSGtGRq3jKR70zdPC--8-2f81Hmd_TvClrte-irV24zVOBuflVBZLorc8B1B36OuzU6eGhyiFy3KpuE1uiM7YUmtZ6b1Vi8t3On7LzUA184zd0ysXFj9_VasMJFGH92sQb79eBQCu3QFaL4AeyKBNHADQLJcTLmGl6zFBE0pvOXemDWBUvnGa4pVnMTkXqHm2bYmZVI5COPi6kTjbTN1Hhn0FSAKLpytVssmBgPsIeMw="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "7828021456:AAG_thl3t5TxzeLarsaJy8AtTPp9vGUYBr8"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1002392938555 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgresql://evadb_owner:l2d8PojNOtAn@ep-misty-brook-a5stybd0.us-east-2.aws.neon.tech/evadb?sslmode=require"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

